/* BitacoraList.css */
.bitacora-list {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Agrega esta línea para que las celdas se comporten mejor con contenido largo */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word; /* Agrega esta línea para permitir el ajuste de palabra */
    white-space: normal; /* Asegura que el texto se ajuste a las líneas múltiples */
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  td.descripcion { /* Clase específica para la columna de descripción */
    max-width: 300px; /* Ajusta este valor según el ancho máximo deseado */
  }
  