/* Estilos para la lista de usuarios */
.lista-container {
    display: flex;
    flex-direction: row;
  }
.lista{
    display: flex;
    flex-direction: column;
    margin: 0px 12px;
    padding: 13px 3px;
    border: 1px solid #030303;
    flex: none;
}
.lista div{
  display: flex;
}
@media screen and (max-width: 700px){
  .lista-container{
    display: flex;
    flex-direction: column;
  }
  .titulo h1{
    font-size: 20px;
  }
}

.titulo h1{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}  
.titulo{
  font-family: Arial, Helvetica, sans-serif;
}
  
  .fila-titulos {
    background-color: #3498db; /* Azul claro */
    color: #fff;
  }
  
  .fila {
    background-color: #2ecc71; /* Verde */
    color: #fff;
  }
  
  .columna {
    padding: 15px;
    min-width: 170px; /* Ancho mínimo para cada columna */
    /*word-wrap: break-word;  Permite que el texto se envuelva dentro de la columna */
  }
  
  .columna:not(:last-child) {
    border-right: 1px solid #fff; /* Línea divisoria entre columnas */
  }
  
  /* Estilos para resaltar los títulos */ 
  .titulo {
    font-weight: bold;
  }
  
  /* Eliminar línea divisoria debajo de la fila de encabezado */
  .fila-titulos .columna {
    border-bottom: none;
  }
  